{% extends 'base.html' %}

{% block title %}Job{% endblock %}

{% block content %}
	<div class="container" id="jobpage">
		<header>
			<nav>
				<div class="nav-container">
			        <a href="index.html">
			            <img id="logo" src="../static/img/logo.png" alt="JobFinder">
			        </a>
					<i class="fas fa-bars btn-menumobile"></i>
					<ul>
						<li><a href="{% url 'work-find-jobs' %}">Encontrar vaga</a></li>
						<li><a href="{% url 'work-job' %}">Enviar vaga</a></li>
						<li><a href="#">Contato</a></li>
					</ul>
				</div>
			</nav>
		</header>
		<div id="job-header">
			<h1>{{item_a.0}}</h1>
			<div id="job-info">
				<div class="job-type">
				  <span class="clt">CLT</span>
				</div>
				<div class="locality">
					<i class="fas fa-map-marker-alt"></i>
					<p>Mountain View, California</p>
				</div>
				<div class="date">
					<i class="far fa-calendar-alt"></i>
					<p>Enviada há 3 dias</p>
				</div>
			</div>
		</div>
		<div class="wrapper">
			<main id="job-container">
			    <div id="about-company-contaienr">
			    	<h2 class="page-title">Sobre a empresa</h1>
			    	<img src="../static/img/company.jpg" id="company-img" alt="Como é o Google">
			    	<p class="description">{{item_a.4}}</p>
			    </div>
			    <div id="about-job-container">
			    	<h2 class="page-title">Sobre a vaga</h2>
			    	<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at lectus vel lectus aliquet tristique. Morbi interdum odio eget tellus mattis malesuada. Proin tempus magna ac lorem elementum efficitur. Aenean vitae elit ullamcorper, pharetra nisl sed, tempor nibh. Suspendisse feugiat nisl eu metus molestie, ac vulputate lorem finibus.</p>
			    </div>
			    <div id="min-requirements-container">
			    	<h2 class="page-title">Requisitos mínimos da vaga</h2>
			    	<ul class="jobpage-list">
			    		<li>Lorem ipsum dolor sit amet</li>
			    		<li>Lorem ipsum dolor sit amet</li>
			    		<li>Lorem ipsum dolor sit amet</li>
			    		<li>Lorem ipsum dolor sit amet</li>
			    	</ul>
			    </div>
			    <div id="job-benefits-container">
			    	<h2 class="page-title">Benefícios</h2>
			    	<ul class="jobpage-list">
			    		<li>Lorem ipsum dolor sit amet</li>
			    		<li>Lorem ipsum dolor sit amet</li>
			    		<li>Lorem ipsum dolor sit amet</li>
			    		<li>Lorem ipsum dolor sit amet</li>
			    	</ul>
			    </div>
		    </main>

		    <aside id="companyinfo-container">
		      <img src="../static/img/googlelogo.png" alt="Google logo">
		      <div class="job-type">
		        <span class="clt">CLT</span>
		      </div>
		      <a id="apply-btn" href="#">Candidatar-se</a>
		      <div class="companysocial-container">
		        <ul id="job-social-list">
		          <li>
		            <a href="#">
		              <i class="fab fa-facebook-square"></i>
		              <span>Facebook</span>
		            </a>
		          </li>
		          <li>
		            <a href="#">
		              <i class="fab fa-instagram"></i>
		              <span>Instagram</span>
		            </a>
		          </li>
		          <li>
		            <a href="#">
		              <i class="fab fa-linkedin"></i>
		              <span>Linkedin</span>
		            </a>
		          </li>
		        </ul>
		      </div>
		    </aside>
		</div>

{% endblock %}